{% extends "base.html" %} {% block title %}Eventos - Papa Dobrado{% endblock %}
{% block content %}

<h5>Listagem de eventos 📅</h5>

{% if enable_cadastrar %}
<div class="row g-3 mt-3">
  <div class="col-12 col-md-3 col-lg-2">
    <a href="" class="btn btn-success text-white w-100" style="min-width: 120px">➕ Novo Evento</a>
  </div>
</div>
{% endif %} {% if eventos %}
  {% for evento in eventos %}
    <div class="card mt-3">
      <div class="card-body">
        <div class="row g-3">
          <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3">
            ⚽ Nome: {{ evento.nome }}
          </span>
          <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3">
            📅 Data: {{ evento.inicio.strftime("%d/%m/%Y - %H:%M") }}
          </span>
          <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3">🚩 Local: {{ evento.local }}</span>
          <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3">⏳ Duração: {{ evento.duracao }} minutos</span>
          <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3">
            {% if evento.situacao.name == "PREVISTO" %} 🟡 {% elif evento.situacao.name == "INICIADO" %} 🔵 {% elif evento.situacao.name =='CANCELADO' %} 🔴 {% else %} 🟢 {% endif %}
            Situação: {{ evento.situacao.value }}
          </span>
        </div>

        <div class="card-footer row g-1 mt-3">
          <div class="col-12 col-md-3 col-lg-2">
            <a
              href=""
              class="btn btn-success text-white w-100"
            >
              📝 Chegada
            </a>
          </div>

          <div class="col-12 col-md-3 col-lg-2">
            <a
              href=""
              class="btn btn-success text-white w-100"
            >
              👥 Times
            </a>
          </div>

          <div class="col-12 col-md-3 col-lg-2">
            <a
              href=""
              class="btn btn-success text-white w-100"
            >
              ⚽ Partidas
            </a>
          </div>

          <div class="col-12 col-md-3 col-lg-2">
            <a href="" class="btn btn-success text-white w-100"> ✍ Editar </a>
          </div>

          <div class="col-12 col-md-3 col-lg-2">
            <a
              href=""
              class="btn btn-success text-white w-100"
            >
              🗑 Remover
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% if pagination.pages > 1 %}
<nav aria-label="Paginação">
  <ul class="pagination justify-content-center mt-3">
    {% if pagination.has_prev %}
    <li class="page-item">
      <a
        class="page-link"
        href=""
        >Anterior</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">Anterior</span>
    </li>
    {% endif %} {% for num in pagination.iter_pages() %} {% if num %}
    <li class="page-item {% if num == pagination.page %}active{% endif %}">
      <a
        class="page-link"
        href=""
        >{{ num }}</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">…</span>
    </li>
    {% endif %} {% endfor %} {% if pagination.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href=""
        >Próximo</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">Próximo</span>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %} {% else %}
<div class="mt-3">
  <p class="card-text">📅 Nenhum evento previsto no momento.</p>
  <p class="card-text">
    Acompanhe nossa agenda! Há jogos previstos para todas as quartas-feiras. ⚽
  </p>
</div>
{% endif %} {% endblock %}
