{% extends "base.html" %} {% block title %}Lista de Chegada - Papa Dobrado{%
endblock %} {% block content %}
<h5>Lista de Chegada 📝</h5>

<div class="card mt-3">
  <form
    method="POST"
    action="{{ url_for('concentracao.cadastro', id_evento=id_evento) }}"
  >
    {{ form.hidden_tag() }}
    <div class="card-body">
      <div class="mb-3">
        <label for="jogador" class="form-label">{{ form.jogador.label }}</label>
        {{ form.jogador(class="form-control") }}
      </div>

      <div class="card-footer row g-2 mt-3">
        <div class="col-12 col-md-3">
          <button type="submit" class="btn btn-success text-white w-100">
            ✅ Confirmar Chegada
          </button>
        </div>
        <div class="col-12 col-md-3">
          <a
            href="{{ url_for('concentracao.listagem', id_evento=id_evento) }}"
            class="btn btn-success text-white w-100"
            >❌ Cancelar</a
          >
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
