{% extends "base.html" %} {% block title %}Eventos - Papa Dobrado{% endblock %}
{% block content %}
<h5>Lista de Chegada 📝</h5>

<div class="card mt-3">
  <div class="card-body">
    <div class="row g-3">
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3">
        📅 Data: {{ evento.inicio.strftime("%d/%m/%Y - %H:%M") }}
      </span>
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3"
        >🚩 Local: {{ evento.local }}</span
      >
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3"
        >⏳ Duração: {{ evento.duracao }} minutos</span
      >
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3">
        {% if evento.situacao.name == "PREVISTO" %} 🟡 {% elif
        evento.situacao.name == "INICIADO" %} 🔵 {% elif evento.situacao.name
        =='CANCELADO' %} 🔴 {% else %} 🟢 {% endif %} Situação: {{
        evento.situacao.value }}
      </span>
    </div>

    <div class="card-footer row g-1 mt-3">
      <div class="col-12 col-md-3 col-lg-2">
        <a
          href=""
          class="btn btn-success text-white w-100"
        >
          📝 Adicionar
        </a>
      </div>
    </div>
  </div>
</div>

{% if concentracoes %} {% for concentracao in concentracoes %}
<div class="card mt-3">
  <div class="card-body">
    <div class="row g-3">
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3">
        #{{ loop.index }} - {{ concentracao.jogador.nome_camisa.upper() }}
      </span>
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3"
        >⏰ Chegada: {{ concentracao.momento_checkin.strftime("%H:%M:%S") }}</span
      >
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3"
        >⏰ Saída: {% if concentracao.momento_checkout %}
        {{concentracao.momento_checkout.strftime("%H:%M:%S") }} {% else %} Não Definido
        {% endif %}</span
      >
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3">
        {% if concentracao.situacao.name == "DISPONIVEL" %} 🟢 {% else %} 🔴 {% endif
        %} Situação: {{ concentracao.situacao.value }}
      </span>
    </div>

    <div class="card-footer row g-1 mt-3">
      <div class="col-12 col-md-3 col-lg-2">
        <a
          href=""
          class="btn btn-success text-white w-100"
        >
          ✍ Editar
        </a>
      </div>
      <div class="col-12 col-md-3 col-lg-2">
        <a
          href=""
          class="btn btn-success text-white w-100"
        >
          🗑 Remover
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% else %}
<div class="mt-3">
  <p class="card-text">📌 Nenhum checkin registrado no momento.</p>
</div>
{% endif %} {% endblock %}
