body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #a3b98e;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: white; /* Texto branco em fundo claro */
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #28a745; /* Verde para fundo claro */
    color: white;
    font-weight: bold; /* Texto mais forte */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #218838; /* Verde mais escuro no hover */
}

/* Ajustes para fundos escuros */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: white;
    }
    .container {
        background-color: #555;
    }
    h2 {
        color: black; /* Texto preto em fundo escuro */
    }
    .btn {
        background-color: #ffc107; /* Amarelo para fundo escuro */
        color: black;
    }
    .btn:hover {
        background-color: #e0a800; /* Amarelo mais escuro no hover */
    }
}
