<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icon-font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/odometer.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_toast.css') }}">

    <title>{% block title %}Papa Dobrado{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/fivicon/favicon-96x96.png') }}">
    <meta name="description" content="Papa Dobrado FC - Controle de partidas de futebol amador.">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="preloader">
        <figure> <img src="{{ url_for('static', filename='img/fivicon/favicon-96x96.png') }}" alt="Image"> </figure>
    </div>
    <div class="page-transition"></div>
    <!-- Exibição de mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
        {% for category, message in messages %}
        <div class="toast align-items-center text-bg-{{ category }} border-0" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <main>
        <div class="bosluk4pps"></div>

        <!-- Conteúdo principal -->
        <div>{% block content %}{% endblock %}</div>

        {% block extra_js %}{% endblock %}

        <!--Footer Alanı-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="copyright">© 2024 Football Club - All Rights Reserved.</p>
                    </div>
                </div>
            </div>
            <div id="top" style="cursor: pointer;">
                <img width="50" height="50" src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" />
            </div>
            <script src="{{ url_for('static', filename='js/team.js') }}"></script>
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/fancybox.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/odometer.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
            <script src="{{ url_for('static', filename='js/3d.jquery.js') }}"></script>
            <script src="{{ url_for('static', filename='js/pointer.js') }}"></script>
            <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
            <!--Cursor Script-->
            <script>
                init_pointer({

                })
            </script>
        </footer>
    </main>
</body>

</html>