<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icon-font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/odometer.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_toast.css') }}">
    
    <title>{% block title %}Papa Dobrado{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/fivicon/favicon-96x96.png') }}">
    <meta name="description" content="Papa Dobrado FC - Controle de partidas de futebol amador.">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
  <div class="preloader">
      <figure> <img src="{{ url_for('static', filename='img/fivicon/favicon-96x96.png') }}" alt="Image"> </figure>
    </div>
  <div class="page-transition"></div>
  <aside class="side-widget">
      <div class="inner">
      <!-- Logo Menu Mobile -->
        <div class="logo"> <a href="{{ url_for('home.home') }}"><img src="{{ url_for('static', filename='img/fivicon/favicon-96x96.png') }}" alt="Image"></a> </div>
        <div class="hide-mobile">
          <h6 class="widget-title">CONTACT INFO</h6>
          <address class="address">
          <p>+1 (234) 567 89 10<br>
            <a href="#">example@example.com</a></p>
          </address>
        </div>
        <div class="show-mobile">
          <div class="site-menu">
              <ul class="menu">
                  <li><a href="{{ url_for('home.home') }}">Home</a></li>
                  <li><a href="{{ url_for('home.home') }}">Fixtures & Results</a></li>
                  <li><a href="{{ url_for('home.home') }}">League Table</a></li>
                  <li><a href="{{ url_for('home.home') }}">Players</a></li>
                  <li><a href="{{ url_for('home.home') }}">Gallery</a></li>
                  <li><a href="{{ url_for('home.home') }}">Blog</a></li>
                  <li><a href="{{ url_for('home.home') }}">Contact</a></li>
              </ul>
            </div>
        </div>
        <small>© 2024 - Football Club</small> </div>
    </aside>
    <nav class="navbar">
      <div class="container">
          <div class="top-navigation-right">
              <div class="top-social-wrapper">
              <div class="social-icon">
              <a href="#">
              <img width="32" height="32" src="{{ url_for('static', filename='img/facebook.png') }}" alt="Facebook">
              </a>
              </div>
              <div class="social-icon">
              <a href="#">
              <img width="32" height="32" src="{{ url_for('static', filename='img/instagram.png') }}" alt="Instagram">
              </a>
              </div>
              <div class="social-icon">
              <a href="#">
              <img width="32" height="32" src="{{ url_for('static', filename='img/twitter.png') }}" alt="Twitter">
              </a>
              </div>
              </div>
          </div>
          <div class="top-navigation-left">
              <div class="top-navigation-left-text">
              <img width="32" height="32" src="{{ url_for('static', filename='img/fivicon/favicon-96x96.png') }}" alt="">
              <img width="32" height="32" src="{{ url_for('static', filename='img/fivicon/favicon-96x96.png') }}" alt="">					
          </div>
          </div>   
        <div class="logo"> <a href="{{ url_for('home.home') }}"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="Image"></a> </div>
        <div class="site-menu">
          <ul class="menueffect">
          <li><a href="{{ url_for('home.home') }}">Home</a></li>
          <li><a href="{{ url_for('home.home') }}">Fixtures & Results</a></li>
          <li><a href="{{ url_for('home.home') }}">League Table</a></li>
          <li><a href="{{ url_for('home.home') }}">Players</a></li>
          <li><a href="{{ url_for('home.home') }}">Gallery</a></li>
          <li><a href="{{ url_for('home.home') }}">Blog</a></li>
          <li><a href="{{ url_for('home.home') }}">Contact</a></li>
          </ul>
        </div>
        <div class="hamburger-menu"> <span></span> <span></span> <span></span> </div>
      </div>
    </nav>
    <header class="page-header" data-background="{{ url_for('static', filename='img/escalacao.png') }}">
      <div class="container">
        <div class="bosluk3"></div>
        <h2 class="boslukhm">League Table</h2>
      </div>
      <!-- end container --> 
    </header>
    <main>
    <div class="bosluk4pps"></div>
    <!--League Table Overall Alanı-->
    <section class="league-fixture-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="h2-baslik-hizmetler-2 wow fade animated" style="visibility: visible;">League Table Overall</h2>
                            <div class="bosluk3"></div>
                        </div>
                    </div>
                </div>
                <!--League Table Overall-->
                <table class="small-league-table"><tbody><tr class="table-second-head">
                    <th class="table-team">Team</th>
                    <th class="table-score">W</th><th class="table-score">D</th>
                    <th class="table-score">L</th><th class="table-score">PTS</th>
                    </tr>
                    <tr>
                    <td class="table-team"><span class="team-count">1</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Istanbul Sports</td>
                    <td class="table-score">18</td>
                    <td class="table-score">2</td>
                    <td class="table-score">0</td>
                    <td class="table-score table-pts">42</td>
                    </tr>
                    <tr>
                    <td class="table-team"><span class="team-count">2</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>United Fs Club</td>
                    <td class="table-score">14</td>
                    <td class="table-score">2</td>
                    <td class="table-score">1</td>
                    <td class="table-score table-pts">35</td>
                    </tr>
                    <tr>
                    <td class="table-team"><span class="team-count">3</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Schalke Club</td>
                    <td class="table-score">13</td>
                    <td class="table-score">3</td>
                    <td class="table-score">0</td>
                    <td class="table-score table-pts">32</td>
                    </tr>
                    <tr>
                    <td class="table-team"><span class="team-count">4</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Inter Club</td>
                    <td class="table-score">13</td>
                    <td class="table-score">2</td>
                    <td class="table-score">1</td>
                    <td class="table-score table-pts">31</td>
                    </tr>
                    <tr>
                    <td class="table-team"><span class="team-count">5</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Madrid Club</td>
                    <td class="table-score">12</td>
                    <td class="table-score">1</td>
                    <td class="table-score">2</td>
                    <td class="table-score table-pts">30</td>
                    </tr>
                    <tr>
                    <td class="table-team"><span class="team-count">6</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Schalke Club</td>
                    <td class="table-score">11</td>
                    <td class="table-score">0</td>
                    <td class="table-score">3</td>
                    <td class="table-score table-pts">28</td>
                    </tr>
                    <tr>
                    <td class="table-team"><span class="team-count">7</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Arsenal Club</td>
                    <td class="table-score">10</td>
                    <td class="table-score">5</td>
                    <td class="table-score">0</td>
                    <td class="table-score table-pts">26</td>
                    </tr>
                    <tr>
                    <td class="table-team"><span class="team-count">8</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Bayern Club</td>
                    <td class="table-score">10</td>
                    <td class="table-score">1</td>
                    <td class="table-score">2</td>
                    <td class="table-score table-pts">24</td>
                    </tr>
                    <tr>
                        <td class="table-team"><span class="team-count">9</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Borrasi Club</td>
                        <td class="table-score">10</td>
                        <td class="table-score">1</td>
                        <td class="table-score">2</td>
                        <td class="table-score table-pts">23</td>
                    </tr>
                    <tr>
                        <td class="table-team"><span class="team-count">10</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Juventa Club</td>
                        <td class="table-score">9</td>
                        <td class="table-score">2</td>
                        <td class="table-score">2</td>
                        <td class="table-score table-pts">21</td>
                    </tr>
                    <tr>
                        <td class="table-team"><span class="team-count">11</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Chelsea Club</td>
                        <td class="table-score">9</td>
                        <td class="table-score">2</td>
                        <td class="table-score">2</td>
                        <td class="table-score table-pts">20</td>
                    </tr>
                    <tr class="current-team">
                    <td class="table-team"><span class="team-count">12</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Atletico Club</td>
                    <td class="table-score">9</td>
                    <td class="table-score">2</td>
                    <td class="table-score">4</td>
                    <td class="table-score table-pts">19</td>
                    </tr>
                    </tbody></table>
                </div>
                <!--League Table Home-->
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="h2-baslik-hizmetler-2 wow fade animated" style="visibility: visible;">League Table Home</h2>
                                <div class="bosluk3"></div>
                            </div>
                        </div>
                    </div>
                <table class="small-league-table"><tbody><tr class="table-second-head">
                    <th class="table-team">Team</th>
                    <th class="table-score">W</th><th class="table-score">D</th>
                    <th class="table-score">L</th><th class="table-score">F</th>
                    </tr>
                    <tr>
                    <td class="table-team"><span class="team-count">1</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Istanbul Sports</td>
                    <td class="table-score">8</td>
                    <td class="table-score">2</td>
                    <td class="table-score">0</td>
                    <td class="table-score table-pts">1</td>
                    </tr>
                    <tr>
                    <td class="table-team"><span class="team-count">2</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>United Fs Club</td>
                    <td class="table-score">8</td>
                    <td class="table-score">2</td>
                    <td class="table-score">7</td>
                    <td class="table-score table-pts">3</td>
                    </tr>
                    <tr>
                    <td class="table-team"><span class="team-count">3</span> 
                        <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Schalke Club</td>
                    <td class="table-score">5</td>
                    <td class="table-score">3</td>
                    <td class="table-score">9</td>
                    <td class="table-score table-pts">2</td>
                    </tr>
                    <tr>
                        <td class="table-team"><span class="team-count">4</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Inter Club</td>
                        <td class="table-score">6</td>
                        <td class="table-score">5</td>
                        <td class="table-score">11</td>
                        <td class="table-score table-pts">2</td>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">5</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Madrid Club</td>
                        <td class="table-score">7</td>
                        <td class="table-score">2</td>
                        <td class="table-score">0</td>
                        <td class="table-score table-pts">11</td>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">6</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Schalke Club</td>
                        <td class="table-score">5</td>
                        <td class="table-score">0</td>
                        <td class="table-score">9</td>
                        <td class="table-score table-pts">12</td>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">7</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Arsenal Club</td>
                        <td class="table-score">6</td>
                        <td class="table-score">3</td>
                        <td class="table-score">9</td>
                        <td class="table-score table-pts">8</td>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">8</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Bayern Club</td>
                        <td class="table-score">6</td>
                        <td class="table-score">3</td>
                        <td class="table-score">0</td>
                        <td class="table-score table-pts">14</td>
                        </tr>
                        <tr>
                            <td class="table-team"><span class="team-count">9</span> 
                                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Borrasi Club</td>
                            <td class="table-score">3</td>
                            <td class="table-score">0</td>
                            <td class="table-score">12</td>
                            <td class="table-score table-pts">7</td>
                        </tr>
                        <tr>
                            <td class="table-team"><span class="team-count">10</span> 
                                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Juventa Club</td>
                            <td class="table-score">9</td>
                            <td class="table-score">1</td>
                            <td class="table-score">5</td>
                            <td class="table-score table-pts">10</td>
                        </tr>
                        <tr>
                            <td class="table-team"><span class="team-count">11</span> 
                                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Chelsea Club</td>
                            <td class="table-score">7</td>
                            <td class="table-score">4</td>
                            <td class="table-score">0</td>
                            <td class="table-score table-pts">17</td>
                        </tr>
                        <tr class="current-team">
                        <td class="table-team"><span class="team-count">12</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Atletico Club</td>
                        <td class="table-score">8</td>
                        <td class="table-score">0</td>
                        <td class="table-score">9</td>
                        <td class="table-score table-pts">11</td>
                    </tr>
                    </tbody></table>
                </div>
                <!--League Table Away-->
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="h2-baslik-hizmetler-2 wow fade animated" style="visibility: visible;">League Table Away</h2>
                                <div class="bosluk3"></div>
                            </div>
                        </div>
                    </div>
                    <table class="small-league-table"><tbody><tr class="table-second-head">
                        <th class="table-team">Team</th>
                        <th class="table-score">W</th><th class="table-score">D</th>
                        <th class="table-score">L</th><th class="table-score">A</th>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">1</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Istanbul Sports</td>
                        <td class="table-score">6</td>
                        <td class="table-score">2</td>
                        <td class="table-score">0</td>
                        <td class="table-score table-pts">14</td>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">2</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>United Fs Club</td>
                        <td class="table-score">6</td>
                        <td class="table-score">2</td>
                        <td class="table-score">1</td>
                        <td class="table-score table-pts">16</td>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">3</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Schalke Club</td>
                        <td class="table-score">5</td>
                        <td class="table-score">3</td>
                        <td class="table-score">0</td>
                        <td class="table-score table-pts">7</td>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">4</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Inter Club</td>
                        <td class="table-score">12</td>
                        <td class="table-score">2</td>
                        <td class="table-score">1</td>
                        <td class="table-score table-pts">6</td>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">5</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Madrid Club</td>
                        <td class="table-score">6</td>
                        <td class="table-score">1</td>
                        <td class="table-score">2</td>
                        <td class="table-score table-pts">7</td>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">6</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Schalke Club</td>
                        <td class="table-score">5</td>
                        <td class="table-score">0</td>
                        <td class="table-score">3</td>
                        <td class="table-score table-pts">11</td>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">7</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Arsenal Club</td>
                        <td class="table-score">10</td>
                        <td class="table-score">5</td>
                        <td class="table-score">0</td>
                        <td class="table-score table-pts">5</td>
                        </tr>
                        <tr>
                        <td class="table-team"><span class="team-count">8</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Bayern Club</td>
                        <td class="table-score">4</td>
                        <td class="table-score">2</td>
                        <td class="table-score">2</td>
                        <td class="table-score table-pts">9</td>
                        </tr>
                        <tr>
                            <td class="table-team"><span class="team-count">9</span> 
                                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Borrasi Club</td>
                            <td class="table-score">10</td>
                            <td class="table-score">2</td>
                            <td class="table-score">2</td>
                            <td class="table-score table-pts">4</td>
                        </tr>
                        <tr>
                            <td class="table-team"><span class="team-count">10</span> 
                                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Juventa Club</td>
                            <td class="table-score">10</td>
                            <td class="table-score">2</td>
                            <td class="table-score">2</td>
                            <td class="table-score table-pts">12</td>
                        </tr>
                        <tr>
                            <td class="table-team"><span class="team-count">11</span> 
                                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Chelsea Club</td>
                            <td class="table-score">10</td>
                            <td class="table-score">2</td>
                            <td class="table-score">2</td>
                            <td class="table-score table-pts">11</td>
                        </tr>
                        <tr class="current-team">
                        <td class="table-team"><span class="team-count">12</span> 
                            <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="" width="60" height="60" style="opacity: 1;"></span>Atletico Club</td>
                        <td class="table-score">9</td>
                        <td class="table-score">2</td>
                        <td class="table-score">4</td>
                        <td class="table-score table-pts">7</td>
                        </tr>
                        </tbody></table>
                    </div>
            </div>
        </div>
    </section>
    <!--Footer Alanı-->
    <footer class="footer">
        <div class="container">
            <div class="row">
              <div class="col-xl-3 col-lg-4">
                <div class="logo"> <img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="Image"> </div>
                <!-- end logo -->
                <div class="footer-info">
                    <p><i class="flaticon-call iconpfooter"></i>&nbsp;&nbsp;&nbsp;+123 456 789</p><br>
                    <div class="bosluk04"></div>
                    <p><i class="flaticon-email iconpfooter"></i>&nbsp;&nbsp;&nbsp;example@example.com</p><br>
                    <p><i class="flaticon-location iconpfooter"></i>New Jersey, America</p>
                </div>
                <!-- end footer-info -->
                <ul class="footer-social">
                  <li><a href="#"><img width="25" height="25" src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="Facebook"></a></li>
                  <li><a href="#"><img width="25" height="25" src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="Instagram"></a></li>
                  <li><a href="#"><img width="25" height="25" src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt="Twitter"></a></li>
                </ul>
              </div>
              <!-- end col-3 -->
              <div class="col-lg-4">
                <h6 class="widget-title">Football Club - Sport Clubs</h6>
                <p class="footerp">
                    You can see all the fixtures and leagues on our platform where we display 
                    International Football History and Statistics. We inform you about sports 
                    by making special posts for football clubs.
                </p><br>

                <a href="{{ url_for('home.home') }}" class="custom-button">CONTACT US</a> </div>
              <!-- end col-4 -->
              <div class="col-lg-2 offset-xl-1 col-sm-6">
                <h6 class="widget-title">Education</h6>
                <ul class="footer-menu">
                    <li><a href="{{ url_for('home.home') }}">League Standings</a></li>
                    <li><a href="{{ url_for('home.home') }}">Fixtures</a></li>
                    <li><a href="{{ url_for('home.home') }}">Players</a></li>
                    <li><a href="{{ url_for('home.home') }}">Gallery</a></li>
                </ul>
              </div>
              <!-- end col-2 -->
              <div class="col-lg-2 col-sm-6">
                <h6 class="widget-title">Quick Links</h6>
                <ul class="footer-menu">
                    <li><a href="{{ url_for('home.home') }}">Home</a></li>
                    <li><a href="{{ url_for('home.home') }}">Gallery</a></li>
                    <li><a href="{{ url_for('home.home') }}">Blog</a></li>
                    <li><a href="{{ url_for('home.home') }}">Contact</a></li>
                </ul>
              </div>
              <!-- end col-2 -->
              <div class="col-12">
                <p class="copyright">© 2024 Football Club - All Rights Reserved.</p>
              </div>
              <!-- end col-12 --> 
            </div>
            <!-- end row --> 
          </div>
        <div id="top" style="cursor: pointer;">
            <img width="50" height="50" src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""/>
        </div>
        <script src="{{ url_for('static', filename='js/team.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/fancybox.min.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/odometer.min.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/3d.jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/pointer.js') }}"></script>
        <!--Cursor Script-->                    
        <script>
            init_pointer({
                
            })
        </script>
    </footer>
  </body>
</html>
