{% extends "base.html" %}
{% block title %}Início - Papa Dobrado{% endblock %}

{% block content %}

<!--League Table Overall Alanı-->
<section class="league-fixture-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="h2-baslik-hizmetler-2 wow fade animated" style="visibility: visible;">Papa Dobrado FC</h2>
              <div class="bosluk3"></div>
            </div>
          </div>
        </div>
        <!--League Table Overall-->
        <table class="small-league-table">
          <tbody>
            <tr class="table-second-head">
              <th class="table-team">Team</th>
              <th class="table-score">W</th>
              <th class="table-score">D</th>
              <th class="table-score">L</th>
              <th class="table-score">PTS</th>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">1</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Istanbul Sports
              </td>
              <td class="table-score">18</td>
              <td class="table-score">2</td>
              <td class="table-score">0</td>
              <td class="table-score table-pts">42</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">2</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>United Fs Club
              </td>
              <td class="table-score">14</td>
              <td class="table-score">2</td>
              <td class="table-score">1</td>
              <td class="table-score table-pts">35</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">3</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Schalke Club
              </td>
              <td class="table-score">13</td>
              <td class="table-score">3</td>
              <td class="table-score">0</td>
              <td class="table-score table-pts">32</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">4</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Inter Club
              </td>
              <td class="table-score">13</td>
              <td class="table-score">2</td>
              <td class="table-score">1</td>
              <td class="table-score table-pts">31</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">5</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Madrid Club
              </td>
              <td class="table-score">12</td>
              <td class="table-score">1</td>
              <td class="table-score">2</td>
              <td class="table-score table-pts">30</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">6</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Schalke Club
              </td>
              <td class="table-score">11</td>
              <td class="table-score">0</td>
              <td class="table-score">3</td>
              <td class="table-score table-pts">28</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">7</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Arsenal Club
              </td>
              <td class="table-score">10</td>
              <td class="table-score">5</td>
              <td class="table-score">0</td>
              <td class="table-score table-pts">26</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">8</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Bayern Club
              </td>
              <td class="table-score">10</td>
              <td class="table-score">1</td>
              <td class="table-score">2</td>
              <td class="table-score table-pts">24</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">9</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Borrasi Club
              </td>
              <td class="table-score">10</td>
              <td class="table-score">1</td>
              <td class="table-score">2</td>
              <td class="table-score table-pts">23</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">10</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Juventa Club
              </td>
              <td class="table-score">9</td>
              <td class="table-score">2</td>
              <td class="table-score">2</td>
              <td class="table-score table-pts">21</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">11</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Chelsea Club
              </td>
              <td class="table-score">9</td>
              <td class="table-score">2</td>
              <td class="table-score">2</td>
              <td class="table-score table-pts">20</td>
            </tr>
            <tr class="current-team">
              <td class="table-team"><span class="team-count">12</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Atletico Club
              </td>
              <td class="table-score">9</td>
              <td class="table-score">2</td>
              <td class="table-score">4</td>
              <td class="table-score table-pts">19</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--League Table Home-->
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="h2-baslik-hizmetler-2 wow fade animated" style="visibility: visible;">League Table Home</h2>
              <div class="bosluk3"></div>
            </div>
          </div>
        </div>
        <table class="small-league-table">
          <tbody>
            <tr class="table-second-head">
              <th class="table-team">Team</th>
              <th class="table-score">W</th>
              <th class="table-score">D</th>
              <th class="table-score">L</th>
              <th class="table-score">F</th>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">1</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Istanbul Sports
              </td>
              <td class="table-score">8</td>
              <td class="table-score">2</td>
              <td class="table-score">0</td>
              <td class="table-score table-pts">1</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">2</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>United Fs Club
              </td>
              <td class="table-score">8</td>
              <td class="table-score">2</td>
              <td class="table-score">7</td>
              <td class="table-score table-pts">3</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">3</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Schalke Club
              </td>
              <td class="table-score">5</td>
              <td class="table-score">3</td>
              <td class="table-score">9</td>
              <td class="table-score table-pts">2</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">4</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Inter Club
              </td>
              <td class="table-score">6</td>
              <td class="table-score">5</td>
              <td class="table-score">11</td>
              <td class="table-score table-pts">2</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">5</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Madrid Club
              </td>
              <td class="table-score">7</td>
              <td class="table-score">2</td>
              <td class="table-score">0</td>
              <td class="table-score table-pts">11</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">6</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Schalke Club
              </td>
              <td class="table-score">5</td>
              <td class="table-score">0</td>
              <td class="table-score">9</td>
              <td class="table-score table-pts">12</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">7</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Arsenal Club
              </td>
              <td class="table-score">6</td>
              <td class="table-score">3</td>
              <td class="table-score">9</td>
              <td class="table-score table-pts">8</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">8</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Bayern Club
              </td>
              <td class="table-score">6</td>
              <td class="table-score">3</td>
              <td class="table-score">0</td>
              <td class="table-score table-pts">14</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">9</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Borrasi Club
              </td>
              <td class="table-score">3</td>
              <td class="table-score">0</td>
              <td class="table-score">12</td>
              <td class="table-score table-pts">7</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">10</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Juventa Club
              </td>
              <td class="table-score">9</td>
              <td class="table-score">1</td>
              <td class="table-score">5</td>
              <td class="table-score table-pts">10</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">11</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Chelsea Club
              </td>
              <td class="table-score">7</td>
              <td class="table-score">4</td>
              <td class="table-score">0</td>
              <td class="table-score table-pts">17</td>
            </tr>
            <tr class="current-team">
              <td class="table-team"><span class="team-count">12</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Atletico Club
              </td>
              <td class="table-score">8</td>
              <td class="table-score">0</td>
              <td class="table-score">9</td>
              <td class="table-score table-pts">11</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--League Table Away-->
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="h2-baslik-hizmetler-2 wow fade animated" style="visibility: visible;">League Table Away</h2>
              <div class="bosluk3"></div>
            </div>
          </div>
        </div>
        <table class="small-league-table">
          <tbody>
            <tr class="table-second-head">
              <th class="table-team">Team</th>
              <th class="table-score">W</th>
              <th class="table-score">D</th>
              <th class="table-score">L</th>
              <th class="table-score">A</th>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">1</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Istanbul Sports
              </td>
              <td class="table-score">6</td>
              <td class="table-score">2</td>
              <td class="table-score">0</td>
              <td class="table-score table-pts">14</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">2</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>United Fs Club
              </td>
              <td class="table-score">6</td>
              <td class="table-score">2</td>
              <td class="table-score">1</td>
              <td class="table-score table-pts">16</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">3</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Schalke Club
              </td>
              <td class="table-score">5</td>
              <td class="table-score">3</td>
              <td class="table-score">0</td>
              <td class="table-score table-pts">7</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">4</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Inter Club
              </td>
              <td class="table-score">12</td>
              <td class="table-score">2</td>
              <td class="table-score">1</td>
              <td class="table-score table-pts">6</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">5</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Madrid Club
              </td>
              <td class="table-score">6</td>
              <td class="table-score">1</td>
              <td class="table-score">2</td>
              <td class="table-score table-pts">7</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">6</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Schalke Club
              </td>
              <td class="table-score">5</td>
              <td class="table-score">0</td>
              <td class="table-score">3</td>
              <td class="table-score table-pts">11</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">7</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Arsenal Club
              </td>
              <td class="table-score">10</td>
              <td class="table-score">5</td>
              <td class="table-score">0</td>
              <td class="table-score table-pts">5</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">8</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Bayern Club
              </td>
              <td class="table-score">4</td>
              <td class="table-score">2</td>
              <td class="table-score">2</td>
              <td class="table-score table-pts">9</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">9</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Borrasi Club
              </td>
              <td class="table-score">10</td>
              <td class="table-score">2</td>
              <td class="table-score">2</td>
              <td class="table-score table-pts">4</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">10</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Juventa Club
              </td>
              <td class="table-score">10</td>
              <td class="table-score">2</td>
              <td class="table-score">2</td>
              <td class="table-score table-pts">12</td>
            </tr>
            <tr>
              <td class="table-team"><span class="team-count">11</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Chelsea Club
              </td>
              <td class="table-score">10</td>
              <td class="table-score">2</td>
              <td class="table-score">2</td>
              <td class="table-score table-pts">11</td>
            </tr>
            <tr class="current-team">
              <td class="table-team"><span class="team-count">12</span>
                <span class="team-flag"><img src="{{ url_for('static', filename='img/logo-ppfc.png') }}" alt=""
                    width="60" height="60" style="opacity: 1;"></span>Atletico Club
              </td>
              <td class="table-score">9</td>
              <td class="table-score">2</td>
              <td class="table-score">4</td>
              <td class="table-score table-pts">7</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}