{% extends "base.html" %} {% block title %}Início - Papa Dobrado{% endblock %}
{% block content %}

{% block extra_css %}
{% endblock %}

<h5>Bem-vindo à Papa Dobrado FC 🎉</h5>

{% if evento %}
<div class="card mt-3">
  <div class="card-body">
    <div class="row g-3">
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3">
        📅 Data: {{ evento.inicio.strftime("%d/%m/%Y - %H:%M") }}
      </span>
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3"
        >🚩 Local: {{ evento.local }}</span
      >
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3"
        >⏳ Duração: {{ evento.duracao }} minutos</span
      >
      <span class="text-muted col-12 col-md-6 col-lg-4 col-xl-3">
        {% if evento.situacao.name == "PREVISTO" %} 🟡 {% elif
        evento.situacao.name == "INICIADO" %} 🔵 {% elif evento.situacao.name
        =='CANCELADO' %} 🔴 {% else %} 🟢 {% endif %} Situação: {{
        evento.situacao.value }}
      </span>
    </div>

    <div class="card-footer row g-1 mt-3">
      <div class="col-12 col-md-3 col-lg-2">
        <a
          href="{{ url_for('concentracao.listagem', id_evento=evento.id) }}"
          class="btn btn-success text-white w-100"
        >
          📝 Chegada
        </a>
      </div>
      <div class="col-12 col-md-3 col-lg-2">
        <a
          href="{{ url_for('time.listagem', id_evento=evento.id) }}"
          class="btn btn-success text-white w-100"
        >
          👥 Times
        </a>
      </div>
      <div class="col-12 col-md-3 col-lg-2">
        <a
          href="{{ url_for('partida.listagem', id_evento=evento.id) }}"
          class="btn btn-success text-white w-100"
        >
          ⚽ Partidas
        </a>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="mt-3">
  <p class="card-text">📅 Nenhum evento previsto no momento.</p>
  <p class="card-text">
    Acompanhe a organização de nossos eventos a qualquer momento. Agora a lista
    de chegada, a formação dos times e o controle das partidas têm
    acompanhamento facilitado de forma contínua e eficiente. 🚀
  </p>
</div>
{% endif %} {% endblock %}
